.login {
  text-align: center;
}
.btn {
  margin: 10px;
  width: 50px;
}
.error {
  color: #ff0000;
}
.message {
  color: green;
  font-size: 18px;
  margin: 5px;
}
.home {
  text-align: center;
  padding: 10px;
  .homeL {
    text-align: center;
    font-size: 25px;
  }
  .h1 {
    font-size: 35px;
  }
}
