.box {
  width: 100%;
  border: 1px solid #333;
  margin: 10px;
  padding: 70px;
  font-size: 16px;
}
label,
hr {
  padding: 5px 0 5px 0;
  font-weight: bold;
}
h5 {
  color: #008000;
}
.btn {
  margin: 10px 0 10px 0;
  width: 100px;
  padding: 5px;
  color: #fff;
  border-radius: 15px;
  background-color: rgb(186, 36, 36);
  transition: 1s all;
}
.btn:disabled {
  background-color: #333;
}
.h4 {
  font-size: 18px;
  color: #f00;
  font-weight: bold;
}
.title {
  font-size: 22px;
  margin: 20px;
  font-weight: bold;
}
.feedBoxes {
  display: flex;
  justify-content: center;
}
.feedBox {
  width: 100%;
  text-align: center;
  border: 1px solid rgba(51, 51, 51, 0.099);
  padding: 100px;
  margin: 10px;
}
.feedInput {
  width: 75%;
  border: 1px solid #195119;
  text-align: center;
  padding: 4px;
  border-radius: 5px;
}
.feedButton {
  border: 1px solid #008000;
  border-radius: 15px;
  width: 100px;
  padding: 5px;
  margin: 5px 50px 0 50px;
  background-color: #1f7b1f;
  color: #fff;
}
