* {
  box-sizing: border-box;
}
.header {
  margin: 50px 0;
  text-align: center;
  h1 {
    font-size: 25px;
  }
  h3 {
    font-size: 20px;
    padding: 20px;
  }
  .sub {
    display: flex;
    margin: 10px 0 0 0;
    justify-content: center;
  }
  .faPay {
    text-align: center;
    font-size: 30px;
  }
}

.carousel {
  padding: 50px;
  display: flex;
  justify-content: center;
}
