* {
  box-sizing: border-box;
}
.header {
  margin: 50px 0;
  text-align: center;
  h1 {
    font-size: 25px;
  }
  h3 {
    font-size: 20px;
    padding: 20px;
  }
  .sub {
    display: flex;
    margin: 10px 0 0 0;
    justify-content: center;
  }
  .faPay {
    text-align: center;
    font-size: 50px;
    margin-left: 25px;
    // padding-left: 10px;
  }
  .faFax {
    text-align: center;
    font-size: 50px;
    margin-left: 50px;
    // padding-left: 10px;
  }
}

.carousel {
  padding: 50px;
  display: flex;
  justify-content: center;
}
.h3 {
  text-align: center;
  font-size: 25px;
  margin: 20px 0;
}
.box_card {
  display: flex;
  justify-content: center;
}
.header {
  display: flex;
  justify-content: center;
  align-items: center;
  .h1 {
    font-weight: bold;
    text-shadow: 3px 3px 3px #737373;
  }
}
.h2 {
  text-align: center;
  margin: 15px;
  font-size: 25px;
  font-weight: bold;
  text-shadow: 3px 3px 3px #737373;
}
@media only screen and (max-width: 768px) {
  .header {
    display: block;
  }
}
