* {
  box-sizing: border-box;
}
li {
  list-style-type: none;
  padding: 0 10px 0 10px;
}

ul {
  display: flex;
  justify-content: center;
}
.container {
  text-align: center;
  width: 100%;
  display: flex;
  justify-content: center;
}

.dateNow {
  margin: 10px;
}
.box {
  margin: 50px;
}
.date {
  align-items: center;
}
.process {
  margin: 150px 0 0 0;
  width: 100%;
  display: flex;
  justify-content: center;
  & p {
    margin: 0 5px 0 5px;
  }
}
.h2 {
  margin: 10px;
  text-align: center;
}
.footer {
  margin: 50px;
  width: 100%;
  display: flex;
  justify-content: center;
}
.btn {
  width: 100px;
  height: 28px;
  font-size: 16px;
  background-color: #333;
  color: #fff;
  border-radius: 10px;
  border: none;
}
.drop {
  border: 1px solid #333;
  text-align: center;
  width: 200px;
  padding: 10px;
  border-radius: 10px;
}
.drop_2 {
  margin: 0 10px 0 10px;
  border: 1px solid #333;
  text-align: center;
  width: 200px;
  padding: 10px;
  border-radius: 10px;
}
